.calc{
    width: 400px;
    height: 600px;
    background-color:grey;
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 40px;
    margin-left: 36px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    height: 55px;
    width: 45px;
    margin-left: 40px;
    margin-top: 30px;
    background-color:bisque;
}